body {
  font-family: 'Comic Neue', sans-serif;
  background-color: #fafafa;
}
.add{
  display: flex;
  .back-button{
    padding: 40px 20px;
  }
  .form-container {
    width: 80%;
    padding: 20px;
    margin: 80px auto;
    background: #fff;
    border: 3px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

    h1 {
      text-align: left;
      font-size: 22px;
      margin-bottom: 20px;
    }

    label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }

    input,
    textarea {
      width: 95%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-family: 'Comic Neue', sans-serif;
      font-size: 14px;
    }

    textarea {
      height: 120px;
      resize: none;
    }

    button {
      width: 100%;
      padding: 10px;
      background: #000;
      color: #fff;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background: #333;
      }
    }
  }

}
